name: WebviewNative
on:
  push:
    branches: [feature-nativeUpdate]

jobs:
  build-linux:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install dependencies
        run: sudo apt-get update && sudo apt-get install libwebkit2gtk-4.0-dev xvfb -y
      - name: Get CMake
        uses: lukka/get-cmake@latest
      - name: Run CMake
        uses: lukka/run-cmake@v10
        with:
          configurePreset: 'ninja'
      - name: Upload artifact
        uses: actions/upload-artifact@v1.0.0
        with:
          name: "webview-linux64"
          path: ./build

  build-macos:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v2
      - name: Get CMake
        uses: lukka/get-cmake@latest
      - name: Run CMake
        uses: lukka/run-cmake@v10
        with:
          configurePreset: 'ninja'
      - name: Upload artifact
        uses: actions/upload-artifact@v1.0.0
        with:
          name: "webview-mac64"
          path: ./build

  build-windows:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v2
      - name: Get CMake
        uses: lukka/get-cmake@latest
      - name: Run CMake
        uses: lukka/run-cmake@v10
        with:
          configurePreset: 'ninja'
      - name: Upload artifact
        uses: actions/upload-artifact@v1.0.0
        with:
          name: "webview-win64"
          path: ./build